# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\thangpn\BE1\diseno\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
